@charset "utf-8";
	.st0
{
	background : #E6E6E6;
	background : rgba(230, 230, 230, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 8px;
	width : 213px;
	height : 211px;
}
.st1
{
	background : -moz-linear-gradient(50% 0% -90deg,rgba(0, 255, 255, 1) 0%,rgba(41, 171, 226, 1) 100%);
	background : -webkit-linear-gradient(-90deg, rgba(0, 255, 255, 1) 0%, rgba(41, 171, 226, 1) 100%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(0, 255, 255, 1) ),color-stop(1,rgba(41, 171, 226, 1) ));
	background : -o-linear-gradient(-90deg, rgba(0, 255, 255, 1) 0%, rgba(41, 171, 226, 1) 100%);
	background : -ms-linear-gradient(-90deg, rgba(0, 255, 255, 1) 0%, rgba(41, 171, 226, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#29ABE2' ,GradientType=0)";
	background : linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(41, 171, 226, 1) 100%);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	width : 960px;
	height : 559px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF',endColorstr='#29ABE2' , GradientType=0);
}
.st2
{
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	width : 425px;
	height : 403px;
}
