@import url("https://use.typekit.net/qmi8eck.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,800");

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
  --junior-color: rgb(251, 41, 206);
  --yellow: #ffee00;
  --blue: #006eff;
  --cardBorderRadius: 10px;
  --cardbackgrounddeg: 180deg; /*135deg org*/
}

* {
  margin:0;
  margin: 0;
  font-family: museo-sans, sans-serif;
  font-weight: 100;
  font-style: normal;
}

html{
  /* overflow-x: hidden; */
  -webkit-overflow-scrolling: touch;
}

ul{
  overflow:auto;
}

#testbox{
      position: fixed;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius:50%;
      width: 200px;
      height: 200px;
      color: white;
      background: rgba(0,0,0,.4);
      z-index: 10000;
      /* clip-path: url("../img/snowflake.svg#snowflake"); */
      display: none;
    /* opacity: 0; */
}

body {
    height: 100hv;
    width: 100vw;
    animation: bodyscroll 1ms 1 10s;
    background-color: rgb(0, 11, 34);
}
.all {
  display: flexbox;
  visibility: hidden;
  overflow-x: hidden;
}
/* INTRO */
.topContainer {
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/IMG_1908.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    /* animation: yearchange 3s both 1 ease-in 3s;
    animation-delay: 2s; */
}

.topContainer img{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  /* opacity: 0; */
}

.topContainer img:nth-child(2){ /* happy */
  opacity: 0;
  animation: head 1s ease-in 1 forwards 0s, disapear 2s ease-in 1 forwards 4s;
}

.topContainer img:nth-child(3){ /* sleeping */
  opacity: 0;
  animation: head 1.2s ease-in 1 forwards 4s, disapear 1s ease-in 1 forwards 7s;
}

.topContainer img:nth-child(4){ /* thinking */
  opacity: 0;
  animation: head 1.2s ease-in 7s 1 forwards;
}

.topContainer .topLogo {
  position: relative;
  top: 1%;
  left: 86%;
  height: 5%;
  opacity: .5;
  /* display: none; */
}

.winteriscomming{
    position: absolute;
    top: calc(40% - 20px);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: White;
    z-index: 10;
    text-align: center;
    justify-items: center;
    letter-spacing: 3px;
    padding: 2rem;
    overflow:visible;
    min-width: 40%;
    max-width: 60%;
    /* border: #d6249f 2px dashed; */
}

/* .winteriscomming .mountains{

} */

.winteriscomming .headLines {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  overflow-x: visible;
  justify-content: center;
  /* border: #1DA1F2 1px dashed; */
}

.winteriscomming .headlineChange {
  position: relative;
  text-shadow: black 0px 0px 25px;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem;
  font-size: large;
  letter-spacing: 5px;
  opacity: 1;
  /* animation: 2s ease-in 1s infinite headlineChangeAni; */
  transition: all .1s;
}

.winteriscomming .headlineChange:nth-child(1){
  margin-top: 20px;
}

.headlineChange:nth-child(1)::after{
  content: "Interaction Design";
  font-size:xx-small;
  font-style: italic;
  display: inline-block;
  transform: translateY(10px);
  animation: 10s ease-in 1s infinite headlineChangeAniIox;
  opacity: 0;
}

.winteriscomming .headlineChange:nth-child(2){
  transform: translateX(600%);
  animation: backtozero .5s ease-in 3s 1 forwards;
}

.winteriscomming .headlineChange:nth-child(3){
  transform: translateX(600%);
  animation: backtozero .5s ease-in 3.1s 1 forwards;
}

.winteriscomming .headlineChange:nth-child(4){
  transform: translateX(600%);
  animation: backtozero .5s ease-in 3.2s 1 forwards;
}

.winteriscomming .headlineChange:nth-child(5){
  transform: translateX(600%);
  animation: backtozero .5s ease-in 3.3s 1 forwards;
  margin-top: -20px;
}

.winteriscomming .headlineChange:nth-child(5)::before{
  font-size: xx-small;
  font-style: italic;
  content: "Junior ";
  display: inline-block;
  transform: translateX(-50px) rotate(-30deg) translateY(5px);
  animation: junior 2s both 1 ease-in 3.5s;
  color: var(--junior-color,red);
  opacity: 0;
}

.winteriscomming .subHeadlineChange {
  position: relative;
  text-shadow: black 0px 0px 25px;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem;
  font-size: large;
  letter-spacing: 5px;
  opacity: 1;
  flex-direction: row;
  /* animation: 2s ease-in 1s infinite headlineChangeAni; */
  transition: all .1s;
}

.winteriscomming .subHeadlineChange:nth-child(1){
  transform: translateX(600%);
  animation: backtozero 2.5s ease-in 1s 1 forwards;
  margin-top: -20px;
}

.winteriscomming .subHeadlineChange:nth-child(2){
  transform: translateX(600%);
  animation: backtozero 2.8s ease-in 1s 1 forwards;
  margin-top: -20px;
}


/* .winteriscomming .headlineChange:nth-child(5)::after{
  content: '';
  height: 20px;
  width: 20px;
  background-image: url("../img/narwhal.png");
  background-image: var(--junior-color);
} */

.winteriscomming .mountains {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1000;
  margin: 2em;
  margin: 0;
  fill:rgb(0, 255, 255);
}

.topContainer .winteriscomming .mountains .cls-1{fill:url(#linear-gradient);}
.topContainer .winteriscomming .mountains .cls-2{fill:url(#linear-gradient-2);}
.topContainer .winteriscomming .mountains .cls-3{fill:url(#linear-gradient-3);}
.topContainer .winteriscomming .mountains .cls-4{
  fill:url(#linear-gradient-4);
}
.topContainer .winteriscomming .mountains .cls-6{
    fill:#fff;
    fill: rgba(255,255,255,.6);
  }
.topContainer .winteriscomming .mountains .cls-7{
  fill:url(#linear-gradient-5);
}

/* Footer work */ 
.footer {
  position: absolute;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(0, 37, 85) 40%,
    rgb(0, 36, 47) 100%
  );
  color: white;
  /* margin:1em 2em; */
  padding-bottom: 1em;
  height: 300px;
  z-index: 1200;
}

.footer a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}

.footer .some{
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  /* justify-content: center; */
}

.footer .some div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .some .fa {
  position: relative;
  top: 0;
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  margin: 2em .25em;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
}

.footer .some .fa:hover {
  opacity: 0.7;
}

.footer .some .fa-facebook {
  border-radius: 5px;
  background: #3B5998;
  color: white;
}

.footer .some .fa-twitter {
  background: #1DA1F2;
  color: white;
}

.footer .some .fa-instagram {
  border-radius: 25%;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}
 
.footer .some .fa-youtube{
  background: tomato;
  color: white;
}

.footer .some .fa-linkedin{
  background-color: #2867B2;
  background: rgb(40,103,178);
  color: white;
}

@media screen and (min-width: 600px) {

  .mainContainer {
    overflow-x: hidden;
  }

  .bodyCards {
    margin: 0;
    min-height: 100%;
    height: auto;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', Arial, sans-serif;
    flex-direction: column;
    margin-top: 0em;
    z-index: 201;
    overflow-y: visible;
    /* background-color: yellowgreen; */
  }

  .anchor {
    position: relative;
    top:calc(-100vh * .25);
  }

  .bodyCards .card {
    position: relative;
    min-width: 500px;
    width:50vw;
    max-width: 50vw;
    min-height: 300px;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: var(--blue);
    background: linear-gradient(var(--cardbackgrounddeg),var(--blue),var(--yellow));
    border-radius: var(--cardBorderRadius);
    margin:2em;
    padding: 1em 0;
    z-index: 199;
    overflow: visible;
  }

  /* .bodyCards .card:nth-child(odd){ */
    /* transform: translateX(-40%); */
    /* background: linear-gradient(-45deg, #d41e31, #491f8f); */
  /* } */

  .bodyCards .card:nth-child(even){
    margin-left: auto;
  }

  .bodyCards .card img {
    position: absolute;
    bottom: 0;
    left: 40%;
    /* align-items: flex-start; */
    /* transform: translateX(-50%); */
    height: 400px;
    transition: 0.5s;
    z-index: 901;
    -webkit-filter: drop-shadow(5px 5px 5px #112 );
    filter: drop-shadow(5px 5px 5px #112);
  }

  .bodyCards .card:nth-child(odd) img{
    transform: translateX(-40%);
  }

  .bodyCards .card:nth-child(even) img{
    transform: translateX(-20%);
  }

  .bodyCards .card:hover img {
    height: 550px;
    left: 80%;
    -webkit-filter: drop-shadow(8px 0px 10 #FFF) 
                    drop-shadow(-8px 0px 10 #FFF );
    filter: drop-shadow(8px -0px 10px #FFF) 
            drop-shadow(-8px -0px 10px #FFF);
    z-index: -1;
  }

  .bodyCards .card:hover:nth-child(odd) img {
    height: 550px;
    left: 20%;
  }

  .bodyCards .card .headline{
    position: absolute;
    right: 5%;
    text-align: right;
    width: 50%;
    height: auto;
    /* line-height: calc(100% - 10px); */
    text-transform: capitalize;
    font-size: 3.2em;
    transition: 0.5s;
    color: #FFF;
    z-index: 950;
  }

  .bodyCards .card:nth-child(even) .headline{
    width: 45%;
    text-align: left;
    left: 5%;
    justify-content: flex-end;

  }

  .bodyCards .card .content {
    position: relative;
    width: 50%;
    left: 0%;
    color: white;
    /* text-transform: capitalize; */
    transition: 0.5s;
    opacity: 0;
    z-index: 902;
    background: rgba(0,0,0,.01);
    border-radius: 5px;
    padding: .5em;
  }

  .bodyCards .card:hover:nth-child(even) .content {
    left: 5%;
    opacity: 1;
  }

  .bodyCards .card:hover:nth-child(odd) .content {
    left: 45%;
    opacity: 1;
  }

  .bodyCards .card:hover .headline{
    opacity: 0;
  }

  .bodyCards .card .content i {
    /* font-family: p22-pooper-black-pro, sans-serif;
    font-weight: 400;
    font-size: 3em;
    font-style: normal; */
    font-family: avalanche, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: visible;
    text-align: left;
    font-size: 2em;
  }

  .bodyCards .card .content h2,
  .bodyCards .card .content h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
  }

  .bodyCards .card .content p {
    margin-bottom: 20px;
    text-transform: none;
  }

  .bodyCards .card .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 5px 10px;
    background: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 1em;
    text-transform: capitalize;
  }

  .bodyCards .card .content ol,
  .bodyCards .card .content ul{
    margin-left: 2em;
    margin-bottom: 1em;
    overflow-x: auto;
    /* border: #285AEB dashed 2px; */
  }

  .bodyCards .card .content ul li{
    margin: inherit;
    /* border: #eb28db dashed 2px; */
  }

  .bodyCards .card video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:cover;
    object-position: center center;
    opacity: 0;
    z-index: -3;
    border-radius: var(--cardBorderRadius);
  }

  .opacity2zero{
    opacity: 1;
    animation: opacityToZero 500ms 1 forwards;
  }

}

@media screen and (max-width: 1250px)  {
    
  .bodyCards .card:hover:nth-child(odd) img {
    left: 5%;
  }

}
@media screen and (min-width: 601px) {

    .winteriscomming span  {
        font-size: 50px;
        width: 80%;
    } 
} 
@media screen and (max-width: 600px)  {
  /* #cursor{
    display: none;
  } */
  
  .winteriscomming {
    display: flex;
    flex-direction: column;
  }
  
  .headLines{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .headlineChange {
    font-size: medium;
  }

  .mainContainer .bodyCards .card .content a{
    margin-top: 1rem;
  }
}

/* ANIMATIONS */ 

/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
/* animation: 3s ease-in 1s 2 reverse both paused slidein; */

@keyframes head {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes disapear {
0%{
    opacity: 1;
}
100%{
    opacity: 0;
}
}

@keyframes yearchange {
  0%{
      background-image: url('../img/L1000384_A.webp');
  }

  100%{
      background-image: url('../img/L1000384_C.webp');
  }
}

@keyframes bodyscroll {
  0%{
      overflow: hidden;
  }
  99%{
      overflow: hidden;
  }
  100%{
      overflow: visible;
  }
}

@keyframes headlineRotate {
  0%{
    transform: rotate(-60deg);
  }

  100%{
    transform: rotate(0deg);
    opacity: 1;
  }
  
}

@keyframes headlineChangeAni { /* Virker ikke i safari */
  0%{
    content: 'IoX (Interaction Design)';
    /* opacity: 1;
    visibility: visible; */
  }
  10%{
    content: 'IoX - Frontend'
  }
  20%{
    content: 'IoX, Frontend, backend'
  }
  30%{
    content: 'IoX, Frontend, backend, graphics'
  }
  40%{
    content: 'Junior Unicorn'
  }
  80%{
    content: "But the mountains are calling...";
  }
}

@keyframes junior {
  0%{
    /* display: none; */
    opacity: 0;
  }
  100% {
    /* display: inline-block; */
    opacity: 1;
  }
}

@keyframes headlineChangeAniIox {
  0%{
    opacity: 0;
  }
  50% {
    content: 'Interaction Design';
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backtozero {
  100% {
    transform: translateX(0%);/* translateY(0%) translateZ(100%);*/
  }
}

@keyframes opacityToZero{
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}